/* .inbox1{
    padding-top: 30px;
    color: white;
    padding-bottom: 30px;
}
.busi{
    background-color: cadetblue;
    min-height: 600px;
}
.img1{
    margin-left: 60px;
    max-width: 100%;
    height: auto;
    display: block;
}
.line
{
    width: 60%;
    height: 1px;
    background-color: white;
}
.btn{
 color: cornflowerblue;
  
}
.line1{
    background-color:gray;
    width: 10%;
    margin: auto;
    height: 2px;
} */
 .hero-section {
    background: #6ea8d9;   /* same blue background */
    padding: 80px 0;
}

.hero-img {
    max-height: 550px;
    object-fit: contain;
}

.hero-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-desc {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-line {
    width: 120px;
    border: 1px solid white;
    margin: 20px 0;
}

.hero-btn {
    padding: 10px 25px;
    border-width: 2px;
    font-weight: 600;
}

.para{
    text-align: center;
     padding: 80px;
}
.boxes{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    padding: 100px 0;

}
.line2{
    background-color: white;
    height:2px;
    width: 70px;
    margin: auto;
    
    
}
.img{
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.para2{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
     background-color:gray;
}
.ind{
    text-align: center;

}
.ind2{
    text-align: center;
}
.linez{
    background-color:gray;
    width: 10%;
    margin: auto;
    height: 2px;
}
.the{
    background-color: gray;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    
}
.kor{
    text-align: center;
    padding: 15px 0px;

}
.kor2{
    text-align: center;
}
.vara{
    height: 10px;
    border-left: 25px solid transparent;
    border-right:25px solid transparent ;
    border-top: 50px solid cornflowerblue;
    position: absolute;
    left: 50%;
    bottom:-900px;
}
@media(max-width:768px){
    .inbox1{
        text-align: center;
    }
    .line{
        margin: auto;
    }
}